.header {
    background-color: rgb(70, 70, 70);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.title {
    font-family: arial;
    color:rgb(202, 202, 202);
}